@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  color: #f5f5f5;
}

.drag {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
